<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página</title>
</head>
<body>
    <div class="contenedor">
        {% if Micurso %}
            {% for curso in Micurso %}
                <div class="tarjeta">
                    <h2>{{ curso.instructor }}</h2>
                    <div class="info">
                        <p><strong>Competencia:</strong> {{ curso.competencia }}</p>
                        <p><strong>Ambiente:</strong> {{ curso.ambiente }}</p>
                        <p><strong>Aprendiz:</strong> {{ curso.aprendiz}}</p>
                    </div>

                    <div class="acciones">
                        <!-- Redirige al detalle usando la URL configurada en urls.py -->
                        <a href="{% url 'detalle_curso' curso.id %}" class="btn">
                            Ver detalle
                        </a>
                        
                        <!-- Formulario para la acción de eliminar -->
                        <form action="{% url 'eliminar_curso' convocatoria.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-eliminar">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="mensaje">
                <p>No existen convocatorias registradas.</p>
            </div>
        {% endif %}
    </div> <!-- Cierre del div contenedor -->
</body>
</html>